<span style="color:tomato" ></span>

    <form (ngSubmit) = "premiumCalc()" class = "was-validated" #flog = ngForm>

    <!-- <select>Plan Type</select> -->

<select id="insurance_type" name="type" [(ngModel)]="type">

  <option [value]=1 >1 Year Comprehensive</option>

  <option [value]=11 >1 Year Third Party</option>

  <option [value]=3>3 Year Comprehensive</option>

</select>

<label >Premium Price</label>

<span>{{premium}}</span>

    <!-- <input type="text" name = "username" [(ngModel)]="cred.username" #uname = ngModel class = "form-control"  required pattern="[A-Za-z]{4,}"> <br>

    <div class = "invalid-feedback" *ngIf = "uname.dirty && uname.invalid">Username cannot be empty or invalid</div>

    <label>Password</label>

    <input type="password" name = "password" [(ngModel)]="cred.password" #passwd = ngModel class = "form-control"required pattern="[A-Za-z0-9]{4,}"><br>

    <div class = "invalid-feedback" *ngIf="passwd.dirty && passwd.invalid"> Password cannot be empty or invalid</div>

    <label>Role</label>

    <select name = "role" [(ngModel)]="cred.role" class = "form-control" required>

        <option *ngFor = "let r of roles" [value] = "r">{{r}}</option>

    </select> <br> -->

    <button type="submit" class="btn btn-primary">Get Price</button>

</form>
<button class="btn btn-success" (click)="paymentGateway()">Procees to pay</button>
<hr>
