<h1>Your Car details</h1>
<hr>
<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
    <th scope="col">Model</th>
    <th scope="col">Brand</th>
    <th scope="col">Regd No</th>
    <th scope="col">Date Of Purcarhase</th>
    <th scope="col">Price</th>
  </tr>
  </thead>
  <tbody>
    <tr >
      <td>{{car.model}}</td>
      <td>{{car.brand}}</td>
      <td>{{car.regNo}}</td>
      <td>{{car.dop}}</td>
      <td>{{car.price}}</td>
    </tr>
  </tbody>
</table>

<button class="btn btn-info" (click)="getPre()">Get Premium </button>
<hr>
<router-outlet></router-outlet>
