
<!-- end invoice-company -->
<!-- begin invoice-header -->
<div style="margin-left:90% ;">
  <a [routerLink]="['/dashboard']" class="btn btn-info" style="background-color: teal; border-color: teal; margin-left: 5%; color: black;">User Dashboard</a>
 </div>
<div class="invoice-header" style="margin-left: 4%;">
   <div class="invoice-from">
      <small>From ,</small>
      <address class="m-t-5 m-b-5">
         <strong class="text-inverse"><i>Just Ca₹It</i></strong><br>
         Koramangala<br>
         Bangalore, 560095<br>
         Phone: (91) 1234567<br>
         Fax: (91) 4567890
      </address>
   </div>
  
  </div>
<div class="invoice-company text-inverse f-w-600">
</div>
<table class="table table-striped " style="margin-left: 4%;">
  <thead >
    <tr>
    <th style="background-color: teal;" >Your Email</th>

    <th style="background-color: teal;">Car Registration Number:</th>

    <th style="background-color: teal;" >Policy Number</th>
    <th style="background-color: teal;">Price(incl GST)</th>
  </tr>
  </thead>
  <tbody>
    <tr>
    <td style="background-color: rgba(0,128,128,0.3);">{{email}}</td>
    <td style="background-color: rgba(0,128,128,0.3);">{{regNo}}</td>
    <td style="background-color: rgba(0,128,128,0.3);">{{policy}}</td>
    <td style="background-color: rgba(0,128,128,0.3);">{{price}}</td>
  </tr>
  </tbody>
</table>
<a  class="btn btn-info" onclick="window.print()" style="background-color: teal; border-color: teal;margin-left: 4%;">Print Receipt</a>




