<div style="display: flex; flex-direction: row">
  <div class="card" style="width: 18rem ; background-color: rgba(0,128,128,0.3);" >
    <div class="card-body">
      <h5 class="card-title">1 Year Comprehensive Plan</h5>

      <p class="card-text">
        The comprehensive car insurance plan is the complete insurance cover
        that offers coverage for the third party as well as own damage.
      </p>

      <span><b>Price ₹{{ premium1yr }} </b></span><br>
      <span>(-inclusive of all the Taxes)</span>

      <!-- <input type="hidden" [(ngModel)]=""> -->

      <button class="btn btn-primary" (click)="select1yr()" style="background-color: teal;">
        Buy Now
      </button>
    </div>
  </div>

  <div class="card" style="width: 18rem; background-color: rgba(0,128,128,0.3);">
    <div class="card-body">
      <h5 class="card-title">1 Year Third-Party Plan</h5>

      <p class="card-text">
        Third party insurance policy provides coverage from all the third party
        liabilities which may arise during an accident or mishap such as
        involving your car.
      </p>

      <span><b>Price ₹{{ premium1yrThirdParty }}</b></span><br>
      <span>(-inclusive of all the Taxes)</span>

      <button class="btn btn-primary" (click)="select1yrThirdParty()" style="background-color: teal;">
        Buy Now
      </button>
    </div>
  </div>

  <div class="card" style="width: 18rem; background-color: rgba(0,128,128,0.3);">
    <div class="card-body">
      <h5 class="card-title">3 Year Comprehensive Plan</h5>

      <p class="card-text">
        Although, you are required to pay more premium amounts, you are paying
        it for three years altogether, which means you do not have to worry
        about renewing your car insurance every year.
      </p>

      <span><b>Price ₹{{ premium3yr }}</b></span><br>
      <span>(-inclusive of all the Taxes)</span>

      <button class="btn btn-primary" (click)="select3yr()" style="background-color: teal;">
        Buy Now
      </button>
    </div>
  </div>

  <div class="card" style="width: 18rem ;background-color: rgba(0,128,128,0.3);">
    <div class="card-body">
      <h5 class="card-title">3 Year Third-Party Plan</h5>

      <p class="card-text">
        Although, you are required to pay more premium amounts, you are paying
        it for three years altogether, which means you do not have to worry
        about renewing your car insurance every year.
      </p>

      <span><b>Price ₹{{ premium3yrThirdParty }}</b></span><br>
      <span>(-inclusive of all the Taxes)</span>

      <button class="btn btn-primary" (click)="select3yrThirdParty()" style="background-color: teal;">
        Buy Now
      </button>
    </div>
  </div>

  <br />
</div>

<hr />
