
    <div style="display: flex; flex-direction: row;">



    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">1 year Comprehensive Price</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <span>price :{{premium1yr}}</span>
        <!-- <input type="hidden" [(ngModel)]=""> -->
        <button class="btn btn-primary" (click)="select1yr()">Select this plan</button>
      </div>
    </div>

    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">premium 1 year third-party</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <span>price:{{premium1yrThirdParty}}</span>
        <button class="btn btn-primary" (click)=" select1yrThirdParty()">Select this plan</button>

      </div>
    </div>

    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">premium 3 year Comprehensive Price</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <span>price:{{premium3yr}}</span>
        <button class="btn btn-primary" (click)="select3yr()">Select this plan</button>

      </div>
    </div>

    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">premium 3 year third-party</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <span>price:{{premium3yrThirdParty}}</span>
        <button class="btn btn-primary" (click)="select3yrThirdParty()">Select this plan</button>


      </div>
    </div>
<br>




</div>
<hr>
