<h1 style="text-align: center;">Welcome to User Dashboard</h1>
<table class="table table-striped table-dark">
  <thead class="thead-dark">
    <tr>
    <th>Email</th>
    <th>Car Regd No</th>
    <th>Policy No</th>
    <th>Claim Status</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
    <tr *ngFor="let d of details" >
      <td>{{d.email}}</td>
      <td>{{d.regNo}}</td>
      <td>{{d.policyNo}}</td>
      <td>{{d.claimStatus}}</td>
      <td>
        <button class="btn btn-info" (click)="message()">file claim</button>
      </td>

    </tr>
  </tbody>
</table>
