<h1 style="text-align: center; color: teal;"><b><i>User Dashboard</i></b></h1>
<div style="margin-left: 2%; margin-right: 2%;">
<table class="table table-striped ">
  <thead class="">
    <tr>
    <th style="background-color: teal;">Email</th>
    <th  style="background-color: teal;">Car Regd No</th>
    <th  style="background-color: teal;">Policy No</th>
    <th  style="background-color: teal;">Claim Status</th>
    <th  style="background-color: teal;">Actions</th>
  </tr>
  </thead>
  <tbody>
    <tr *ngFor="let d of details"  >
      <td style="background-color: rgba(0,128,128,0.3);">{{d.email}}</td>
      <td style="background-color: rgba(0,128,128,0.3);">{{d.regNo}}</td>
      <td style="background-color: rgba(0,128,128,0.3);">{{d.policyNo}}</td>
      <td style="background-color: rgba(0,128,128,0.3);">{{d.claimStatus}}</td>
      <td style="background-color: rgba(0,128,128,0.3);">
        <button class="btn btn-info"  (click)="update(d.id,d)" style="background-color: teal; border-color: teal;">Claim</button>
      </td>

    </tr>
  </tbody>
</table>
<a [routerLink]="['/home']" class="btn btn-danger" style="background-color: teal; border-color: teal;">Logout</a>
</div>