<nav style="background-color: gray;">
  <a [routerLink]="['/login']" class="bg-warning btn" style="float: right; margin-left: 2px;" >Login / view policy</a>
  <a [routerLink]="['/claim']" class="bg-warning btn " style="float: right;">claim</a>
  <h2>kar-it</h2>
</nav>

<div style="margin: auto; border: 1px solid black ; border-radius: 8pt; align-items: center; width: fit-content; padding: 4%;">

<form (ngSubmit)="next()" class="was-validated" >
  <fieldset>
    <label>Registration Number
    <input type="text" name="regNo" [(ngModel)]="reg.regNo" class="form-control">
    </label>
  </fieldset>
  <button class="btn btn-warning">Get Competitive Price></button>
</form>
</div>
